<div class="groups">
  <div class="groups-header">
    <h1 class="groups-title"> Categories </h1>
    <%= link_to "SIGN OUT", destroy_user_session_path %>

  </div>
  <div class="group-items">
    <% @groups.each do |group| %>
      <%= link_to group_operations_path(group.id) do %>
        <div class="group-item">
          <img src=<%= group.icon %> alt=<%= group.name %>>
          <h2><%= group.name %></h2>
          <p>Total spent:$<span><%= group.total_spent %></span></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="add-group">
    <%= link_to new_group_path do %>
      <button class="add-group-button">ADD NEW CATEGORY</button>
    <% end %>
  </div>
</div>