<div>
    <%= link_to groups_path do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <h1>Add Categorie</h1>
     <%= link_to destroy_user_session_path do %>
      <i class="fas fa-sign-out-alt">SIGN OUT</i>
    <% end %>
  </div>

<div>
  <%= form_for @group, url: groups_path do |f| %>
    <div>
      <div>
        <%= f.text_field :name, autofocus: true, placeholder:'Name', autocomplete: "name" %>
      </div>
      <div>
        <%= f.text_field :icon, placeholder:'Icon', autocomplete: "icon" %>
      </div>
    </div>
    <div>
      <%= f.submit "Add new category" %>
    </div>
  <% end %>
</div>