<div class="addoperation-header">
  <%= link_to "BACK", group_operations_path %>
  <h1 class="addoperation-title">Add Operation</h1>
  <%= link_to "SIGN OUT", destroy_user_session_path %>
</div>

<div class="addoperation-form">
  <%= form_for @operation, url: group_operations_path do |f| %>

    <div>
      <div class="addoperation-form-field">
        <%= f.text_field :name, autofocus: true, placeholder:'Name', autocomplete: "name" %>
      </div>

      <div class="addoperation-form-field">
        <%= f.text_field :amount, placeholder:'Amount',autocomplete: "amount" %>
      </div>
  
      <% if @groups.any? %>
        <div class="addoperation-form-field">
          <%= f.label :categories %><br/>
          <%= select_tag :groups, options_for_select(@groups.map { |s| [s.name, s.id] }), multiple: true, size: 3 %>
        </div>
      <% end %>
    </div>

    <div class="addoperation-form-submit">
      <%= f.submit "ADD NEW OPERATION" %>
    </div>
  <% end %>
</div>