<div class="addoperation-header">
  <%= link_to "BACK", group_operations_path %>
  <h1 class="addoperation-title">Add Operation</h1>
  <%= link_to "SIGN OUT", destroy_user_session_path %>
</div>

<div class="addoperation-form">
  <%= form_for @operation, url: group_operations_path do |f| %>

    <div>
      <div class="addoperation-form-field">
        <%= f.text_field :name, autofocus: true, placeholder:'Name', autocomplete: "name" %>
      </div>

      <div class="addoperation-form-field">
        <%= f.text_field :amount, placeholder:'Amount',autocomplete: "amount" %>
      </div>
  
      <div class="addoperation-form-field">
        <%= f.label :category %><br/>
        <% selected_group = @groups.detect {|g| g.id == params[:group_id].to_i} %>
       <% if selected_group %>
         <%= f.text_field :category, value: selected_group.name, readonly: true %>
       <% else %>
         <%= f.text_field :category %>
       <% end %>
     </div>
    </div>

    <div class="addoperation-form-submit">
      <%= f.submit "ADD NEW OPERATION" %>
    </div>
  <% end %>
</div>